 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 1044px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 60px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 794px;
}

.u-section-1 .u-shape-1 {
  width: 447px;
  height: 382px;
  background-image: none;
  box-shadow: 2px 2px 35px 0 rgba(0,0,0,0.5);
  margin: -571px 0 0 auto;
}

.u-section-1 .u-image-1 {
  width: 285px;
  min-height: 334px;
  background-image: url("images/d.png");
  background-position: 50% 50%;
  margin: -108px 0 0 auto;
}

.u-section-1 .u-container-layout-2 {
  margin-bottom: 0;
}

.u-section-1 .u-image-2 {
  object-position: 28.7% 100%;
  width: 509px;
  height: 478px;
  margin: -561px auto 0 59px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 794px;
}

.u-section-1 .u-container-layout-3 {
  padding-left: 0;
}

.u-section-1 .u-text-1 {
  font-size: 3.4375rem;
  font-weight: 700;
  font-family: Oswald, sans-serif;
  margin: 147px 0 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.25rem;
  margin: 40px 0 0;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  background-image: none;
  margin: 37px auto 0 0;
  padding: 11px 43px 12px 42px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 849px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 655px;
  }

  .u-section-1 .u-image-2 {
    inset: auto;
    width: 482px;
    height: 453px;
    margin-left: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 733px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 709px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 612px;
  }

  .u-section-1 .u-shape-1 {
    width: 364px;
  }

  .u-section-1 .u-image-2 {
    width: 364px;
    height: 342px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.75rem;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.125rem;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 895px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 684px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 833px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: -52px;
    margin-bottom: 0;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 500px;
  }

  .u-section-1 .u-shape-1 {
    width: 340px;
    margin-top: 87px;
    margin-right: auto;
    margin-left: -11px;
  }

  .u-section-1 .u-image-1 {
    margin-top: -292px;
    margin-right: auto;
    margin-left: 12px;
  }

  .u-section-1 .u-image-2 {
    height: 319px;
    width: 340px;
    margin-top: -392px;
    margin-right: -37px;
    margin-left: auto;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 427px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 20px;
    margin-right: -12px;
    margin-left: 12px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 12px;
    margin-right: -12px;
    margin-left: 12px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 11px;
    margin-left: 12px;
  }
}